ul
    li
        a(href="/api/list") Listado
    li
        a(href="/api/getAll") getAll (AJAX)
    li
        a(href="/api/addForm") addForm
    li
        a(href="/api/add") add (AJAX)
    li
        a(href="/api/addStatic") addStatic (AJAX)
    li
        a(href="/api/get/5a8c4c479cc4d09903dfd582") get (AJAX)