script(src='/javascripts/jquery-3.3.1.min.js')
script(src='/javascripts/jquery.dataTables.min.js')
script(src='/javascripts/popper.min.js')
script(src='/javascripts/bootstrap.bundle.min.js')
script(src='/javascripts/dataTables.bootstrap4.min.js')
script(src='/javascripts/formu.js')
script(src='/javascripts/listado.js')
script(src='/javascripts/delete.js')