extends layout

block content
  h1= title
  p Welcome to #{title}
  include includes/menu.pug
  div 
    div(id="mensajes")
    form(class="needs-validation",method="get",action="",id="formu",novalidate)
        div(class="form-group")
            label(for="nombre") nombre
            input(class="form-control",id="nombre",name="nombre",type="text",value="",placeholder="Nombre de usuario",required)
            div(class="valid-feedback") Correcto!
            div(class="invalid-feedback") Incorrecto!
      
        div(class="form-group")
            label(for="pass") password
            input(class="form-control",id="pass",name="pass",type="password",value="",placeholder="Contraseña",required)
            div(class="valid-feedback") Correcto!
            div(class="invalid-feedback") Incorrecto!
        div(class="form-group")
            input(class="form-control btn btn-primary",type="submit",value="Enviar")