extends layout

block content
  include includes/menu.pug
  table(id="tabla",class="table")
    thead(class="")
        tr(class="")
            th(scope="col") Nombre
            th(scope="col") Acciones
    tbody
        
    