extends ../layout

block content
    h1= variable
    a(href="/books/add") Añadir Libro
    table.listado
        tr
            th _ID
            th Título
            th Autores
            th Operaciones
        each item in listado
            tr(style="border: black 1px solid;")
                td=item._id
                td=item.title
                td=item.author
                td
                    a(id="show-"+item.id,href="/books/"+item.id) Show

                    a(id="edit-"+item.id,href="/books/edit/" + item.id) Edit

                    a(id="delete-"+item.id,href="/books/delete/" + item.id) Delete