doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.3.1.js')
    script(src='/javascripts/formu.js')
  body
    block content
