extends layout

block content
  //"<h1>"+title+"</h1>";
  h1 Formulario de login
  div(id="mensajes")
  form(id="login",action="/api/login",method="post")
    div
        label(for="usuario") Nombre de Usuario
        input(type="text",id="usuario",name="usuario",value="", placeholder="Nombre de Usuario")
    div
        label(for="password") Contraseña
        input(type="password",id="password",name="password",value="", placeholder="contraseña")
    div
        input(type="submit",id="submit",name="submit",value="Enviar")
  
    