extends layout

block content
  //"<h1>"+title+"</h1>";
  h1= title
  //"<h2>Welcome to "+title+"</h2>"
  h2 Welcome to #{title}
  a(href="/pagina") Enlace a mi página
  br
  a(href="/formulario") Enlace al formulario
  br
  button(id="pide") Pide Cosas
