doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/script.js")
  body
    nav
        ul
            li
                a(href="/") Inicio
            li
                a(href="/pagina") Página
    block content
