extends layout

block content
  
  include includes/menu.pug
  div(id="mensajes")
  div
    h1= title
    h2 Usuario: #{item.username}
    button(class="btn btn-danger",id="borrar",data-id=item._id) Borrar Definitivamente (No habrá marcha atrás!!!!!)