extends layout

block content
  h1= title
  p Welcome to #{title}
  include includes/menu.pug
  div 
    div(id="mensajes")
    form(class="needs-validation",method="post",action="",id="register",novalidate)
        div(class="form-group")
            label(for="nombre") nombre
            input(class="form-control",id="nombre",name="nombre",type="text",value="",placeholder="Nombre de usuario",required, minlength=6)
            div(class="valid-feedback") Correcto!
            div(class="invalid-feedback") Incorrecto!
      
        div(class="form-group")
            label(for="pass") password
            input(class="form-control",id="pass",name="pass",type="password",value="",placeholder="Contraseña",required, minlength=8)
            div(class="valid-feedback") Correcto!
            div(class="invalid-feedback") Incorrecto!
        div(class="form-group")
            label(for="pass2") password
            input(class="form-control",id="pass2",name="pass2",type="password",value="",placeholder="Repite Contraseña",required,minlength=8)
            div(class="valid-feedback") Correcto!
            div(class="invalid-feedback") Incorrecto!
        div(class="form-group")
            input(class="form-control btn btn-primary",type="submit",value="Enviar")